body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./Images/blue-sky-blur-clear-sky-color-281260.jpg);
    background-position: center;
    color: white;
    font-family: arial;
    text-align: center;
    text-transform: capitalize;
}
.counter-box{
    border: 3px solid grey;
    padding: 1rem;
    font-weight: bold;

}
.counter{
    font-size: 6rem;
}
.btn{
    border-radius: 8px;
    font-size: 1.7rem;
    background-color: rgb(158, 106, 106);
    color: white;
    cursor: pointer;
    padding: .5rem;
    border: 3px solid #ffffff;
}
.btn:hover{
    background-color: rgb(76, 170, 53);
}